
body {
    margin: 0px;
    /* width: 100vh; */
}

.header {
    /* width: fit-content; */
    width: 95vh;
    margin: auto;
    height: 20px;
    background-color: #3f5b91;
    border: 1px solid;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    margin-bottom: 40px;
    padding: 10px;
}

.header .content {
    width: fit-content;
    margin: auto;
}

.header button {
    color: white;
    background: none;
    height: 20px;
    border: none;
    border-radius: 0.1rem;
    margin: 0px 20px;
    outline: none;
}

.header button:hover {
    color: #43d998;
    cursor:pointer
}

.grid {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
    /* width: 352px; */
}

.grid-16x16 {
    width: 352px;
}

.grid-16x30 {
    width: 660px;
}

.grid-8x8 {
    width: 352px;
}

.cell-16x16 {
    width: 20px;
    height: 20px;
}

.cell-16x30 {
    width: 20px;
    height: 20px;
}

.cell-8x8 {
    width: 42px;
    height: 42px;
}


.grid .cell {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px 1px;
    background-color: #7d7d7d;
    border-radius: 0.2rem;
}

.grid .grid-header .container {
    width: fit-content;
    display: flex;
    margin: auto;
}

.grid .grid-header {
    border-radius: 0.2rem;
    width: 100vh;
    margin: 10px 3px 20px;
    display: flex;
}

.grid .grid-header button {
    margin: auto;
    height: 30px;
    
}

.grid .grid-header .flag-count {
    height: 50px;
    width: 50px;
    margin: 0px 5px 5px 10px;
}

.grid .grid-header span {
    margin: 15px 5px 15px 10px;
    font-size: 1.2rem;
}

.grid .grid-header .timer-icon {
    height: 50px;
    width: 50px;
    margin: 0px 5px 5px 10px;

}

.grid .open1 {
    background-image: url("https://i.ibb.co/WcNVRCX/open1.png");
}

.grid .open2 {
    background-image: url("https://i.ibb.co/GPgn13z/open2.png");
}

.grid .open3 {
    background-image: url("https://i.ibb.co/PwyR41W/open3.png");
}

.grid .open4 {
    background-image: url("https://i.ibb.co/dkDgXqL/open4.png");
}

.grid .open5 {
    background-image: url("https://i.ibb.co/FKWzbs9/open5.png");
}

.grid .open6 {
    background-image: url("https://i.ibb.co/sVTZnpw/open6.png");
}

.grid .open7 {
    background-image: url("https://i.ibb.co/Dgb86ZF/open7.png");
}

.grid .open8 {
    background-image: url("https://i.ibb.co/xC72pz3/open8.png");
}

/* .grid .open {
    width: 38px;
    height: 38px;
} */

/* 
.grid .cell:hover {
    background-color: ;
} */

.grid .mine {
    /* background-color: orange; */
}

.grid .checked {
    /* background-image: url("https://cdn.picpng.com/1/shape-1-35325.png");
    background-size: cover; */
    background-size: cover;
    background-color: #c9c9c9;
}

.grid .mine_self {
    background-image: url("https://i.ibb.co/PtMw9MP/mine-self.png");
    background-size: cover;
}   

.grid .mine_others {
    background-size: cover;
    background-image: url("https://i.ibb.co/23YLxnc/mine-others.png");
}

.grid .flag {
    background-image: url("https://i.ibb.co/nrwY811/flag.png");
    background-size: cover;
}